@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Turret+Road:wght@200;300;400;500;700;800&display=swap");
@import "~@flaticon/flaticon-uicons/css/all/all";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

i {
  @apply flex flex-col items-center justify-center;
}

body {
  @apply h-screen scroll-smooth transition-all dark:bg-[#181a20] dark:text-white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}


#main-screen{
  @apply md:p-8 max-w-screen-lg mx-auto h-full no-scrollbar overflow-y-scroll p-4 relative shadow-sm shadow-white/60 sm:shadow-none;
}
/* body::-webkit-scrollbar{
  @apply w-0 h-0;
} */

.anime-image {
  @apply h-full w-full rounded-lg object-cover object-center;
}

.no-scrollbar::-webkit-scrollbar {
  @apply h-0 w-0;
}

.custom-scrollbar::-webkit-scrollbar {
  @apply h-[1px] w-[1px];
}

/* .custom-scrollbar::-webkit-scrollbar-thumb{
  @apply bg-slate-400;
} */

.btn {
  @apply flex w-fit items-center gap-2 rounded-full border-2 border-[#06b149] bg-[#06c149] px-[20px] py-[5px] text-sm font-medium leading-6 hover:bg-[#06b149];
}

.de-btn {
  @apply flex w-fit items-center gap-2 rounded-full border-2 border-[#06c149] px-[20px] py-[5px] text-sm font-medium leading-6;
}

.grid-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

.neon {
  box-shadow: 0 0 20px 1px #06b149;
}

.logo {
  font-family: "Turret Road", sans-serif;
  font-style: normal;
}
