@import "~@flaticon/flaticon-uicons/css/all/all";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

i {
  @apply flex flex-col justify-center items-center;
}

body {
  @apply dark:bg-[#181a20] dark:text-white h-screen transition-all scroll-smooth;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* body::-webkit-scrollbar{
  @apply w-0 h-0;
} */

.anime-image{
  @apply h-full w-full rounded-lg object-cover object-center;
}

.no-scrollbar::-webkit-scrollbar {
  @apply w-0 h-0;
}

.custom-scrollbar::-webkit-scrollbar {
  @apply w-[1px] h-[1px];
}

/* .custom-scrollbar::-webkit-scrollbar-thumb{
  @apply bg-slate-400;
} */

.btn {
  @apply bg-[#06c149] hover:bg-[#06b149] flex text-sm items-center gap-2 w-fit font-medium leading-6 rounded-full border-2 border-[#06b149] py-[5px] px-[20px];
}

.de-btn {
  @apply flex items-center gap-2 w-fit font-medium text-sm leading-6 rounded-full border-2 border-[#06c149] py-[5px] px-[20px];
}

.grid-cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

.neon{
  box-shadow: 0 0 20px 1px #06b149;
}
